# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# OS files
.DS_Store
*.h5
*.pkl


myenv/
__pycache__/
*.pyc


image_dataset/
myenv/
venv/
.env/
__pycache__/
*.pyc
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
myenv/
venv/

# ML models temp
*.h5.cache
*.pt
*.pth

# OS
.DS_Store

# Deploy junk
railway.json
runtime.txt
rebuild.txt
rebuild2.txt
Dockerfile
.nixpacks
render.yaml
Procfile
